* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.container {
    width: 100%;
    max-width: 800px; /* Increase the max-width to make the box larger */
    padding: 60px; /* Increase the padding for a bigger feel */
    background: rgba(0, 0, 0, 0.836); /* Light transparent background */
    border-radius: 15px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.733);
    backdrop-filter: blur(10px); /* Frosted glass effect */
    font-size: xx-large;
}

.form-box {
    text-align: center;
    color: white;
}

h1 {
    margin-bottom: 20px;
    font-size: 2rem;
    color: white;
}

.input-group {
    position: relative;
    margin-bottom: 30px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 5px;
    outline: none;
    color: white;
    font-size: 16px;
    transition: all 0.3s ease;
}

.input-group label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #aaa;
    font-size: 16px;
    pointer-events: none;
    transition: all 0.3s ease;
}

.input-group input:focus + label,
.input-group input:not(:placeholder-shown) + label {
    top: -10px;
    font-size: x-large;
    color: #ffffff;

}

.btn {
    width: 100%;
    padding: 15px;
    background-color: #23d5ab;
    border: none;
    border-radius: 25px;
    color: white;
    font-size: 22px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-bottom: 15px; /* Add margin for spacing between buttons */
}

.btn:hover {
    background-color: #23a6d5;
    transform: translateY(-3px);
}

.cancel-btn {
    background-color: transparent;
    border: 2px solid #ff6b6b; /* Red border for cancel button */
    color: #ff6b6b; /* Red text color */
}

.cancel-btn:hover {
    background-color: #ff6b6b; /* Red background on hover */
    color: white; /* White text on hover */
}
